html {
	height: 100vh;
	width: 100vw;
}

.slider-container {
	display: flex;
	width: 100vw;
	height: 100vh;
	justify-content: center;
	align-items: center;
	flex-direction: column;
}

.slider-container img {
	border: 1px solid #d8d5d5;
}